openapi: 3.1.0
info:
  title: Google Merchant Center Google Merchant Accounts Promotions API
  description: The Google Merchant API enables programmatic management of Merchant Center accounts including products, inventories, promotions, reports, conversions, and order tracking for Google Shopping.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/merchant/api/overview
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
servers:
- url: https://merchantapi.googleapis.com
  description: Merchant API server
security:
- oauth2:
  - https://www.googleapis.com/auth/content
tags:
- name: Promotions
paths:
  /promotions/v1/{parent}/promotions:
    get:
      summary: Google Merchant Center List promotions
      description: Lists promotions for a Merchant Center account.
      operationId: listPromotions
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPromotionsResponse'
      tags:
      - Promotions
    post:
      summary: Google Merchant Center Create promotion
      description: Creates a promotion for a Merchant Center account.
      operationId: createPromotion
      parameters:
      - name: parent
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Promotion'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Promotion'
      tags:
      - Promotions
components:
  schemas:
    Promotion:
      type: object
      properties:
        name:
          type: string
        promotionId:
          type: string
        contentLanguage:
          type: string
        targetCountry:
          type: string
        redemptionChannel:
          type: array
          items:
            type: string
        promotionEffectiveTimePeriod:
          type: object
          properties:
            startTime:
              type: string
              format: date-time
            endTime:
              type: string
              format: date-time
    ListPromotionsResponse:
      type: object
      properties:
        promotions:
          type: array
          items:
            $ref: '#/components/schemas/Promotion'
        nextPageToken:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/content: Manage Google Shopping data
